# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

## Some of the popular languages that Data Scientists use are:
1. **Python**
2. **R**
3. **SQL**

## Some of the commonly used libraries used by Data Scientists include:
1. **Pandas**
2. **NumPy**
3. **scikit-learn**
4. **Matplotlib**
5. **TensorFlow**

| Data Science Tools             |
|--------------------------------|
| Jupyter Notebook               |
| RStudio                        |
| Apache Zeppelin                |

### Below are a few examples of evaluating arithmetic expressions in Python

In [17]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [23]:
# This will convert 200 minutes to hours by diving by 60
hours = 200 / 60
hours

3.3333333333333335

**Objectives:**

- Python
- R
- SQLLn code

## Author

Ken Kaya